{
  "presets": ["doctolib"],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    "syntax-trailing-function-commas",
    "transform-function-bind"
  ],
  "ignore": [
    "dist",
    "node_modules",
    "lib"
  ],
  "env": {
    "development": {
      "plugins": [["module-resolver", {
        "root": ["./src"],
      }]]
    },
    "production": {
      "plugins": [["module-resolver", {
        "root": ["./lib"],
      },
      ]]
    }
  }
}
