{
  "presets": ["doctolib"],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    ["babel-root-import", {
      "rootPathSuffix": "src"
    }]
  ],
  "ignore": [
    "public",
    "node_modules/(?!rxjs-es)"
  ]
}
