{
  "presets": ["doctolib"],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator"
  ],
  "ignore": [
    "public",
    "node_modules/(?!rxjs-es)"
  ],
  "env": {
    "development": {
      "plugins": ["babel-root-import", {
        "rootPathSuffix": "src"
      }]
    },
    "production": {
      "plugins": ["babel-root-import", {
        "rootPathSuffix": "lib"
      }]
    }
  }
}
