:import('modules/variables.css') {
  green: green;
  orange: orange;
  gray: gray;
}

:root {
  --green: green;
  --orange: orange;
  --gray: gray;
}

.textBox {
  position: relative;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;

  & .input {
    border: none;
    height: 50px;
    background-color: var(--white);
    border-radius: 3px;
    padding: 0 10px;
    font-size: 18px;
    vertical-align: middle;
    color: var(--text-color);
    display: block;
    width: 100%;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: var(--gray);
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: var(--gray);
      opacity: 1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: var(--gray);
      opacity: 1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: var(--gray);
    }

    &:focus {
      outline: none;
      box-shadow: inset 0px 0px 1px 0px color(var(--orange) a(75%));
    }
  }

  &.bordered .input {
    border: 1px solid color(var(--gray) a(40%));
  }

  &.xlSize {
    width: 320px;
  }

  &.spaced {
    margin-bottom: 10px;
  }

  &.block {
    display: block;
    width: 100%;
  }

  @media (max-width: --screen-sm-min) {
    &.sm-block {
      display: block;
      width: 100%;
    }

    &.sm-spaced {
      margin-bottom: 10px;
    }
  }

  @media (min-width: --screen-sm-min) {
    &.lg-groupedLeft .input {
      border-radius: 3px 0 0 3px;
    }
  }

  &.withIcon .input {
    padding-left: 50px;
  }

  & .icon {
    position: absolute;
    left: 2px;
    top: 8px;
    bottom: 8px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid color(var(--gray) a(20%));
    pointer-events: none;
  }
}
