@import "styles/variables";
@import "apps/admin-private/routes/app";

.editor {
  display: flex;
  position: relative;
  background: $white-color;
  border: 1px solid rgba(black, 0.1);
  border-radius: 4px;
  overflow: hidden;
  height: 300px;
}

.previewLabel {
  position: absolute;
  top: $padding-unit / 2;
  right: $padding-unit / 2;
  font-size: 0.65em;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(black, 0.2);
  pointer-events: none;
}

.editorInput, .editorPreview {
  display: block;
  flex: 1 0 0;
}

.editorInput {
  border-right: 1px solid rgba(black, 0.1);
}

.editorTextarea {
  display: block;
  width: 100%;
  height: 300px;
  border: 0;
  resize: none;
  outline: none;
  padding: $padding-unit;
}

.editorPreview {
  padding: $padding-unit;
  overflow-y: auto;
  height: 300px;
  font-size: 0.8em;
  z-index: 1;
}
