.background {
  position: absolute;
  top: 0;
  height: 520px;
  left: 0;
  right: 0;
  background-color: #CC997C;
  background-image: url('./HomeBackground.jpg');
  background-size: cover;
  background-position: 40% 50%;
}
