@import "styles/variables";

.workspace {
  display: flex;
  flex: 1 0;
}

.listContainer {
  flex: 0 0 auto;
  width: 200px;
  position: relative;

  ul {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    list-style-type: none;
    background: $white-color;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 100%;
    width: 100%;
    position: absolute;

    a {
      display: block;
      height: 40px;
      line-height: 40px;
      padding: 0 $padding-unit / 2;
      background-color: $white-color;
      transition: background-color 400ms;

      &:hover, &.active {
        background-color: $gray-lighter-color;
        transition: background-color 200ms;
        text-decoration: none;
      }
    }
  }
}

.formContainer {
  flex: 1 0;
  max-width: 700px;
  padding: $padding-unit;

  h2 {
    margin: 0 0 $padding-unit;
    font-size: 1.2em;
    color: $primary-color;
  }
}
