@import "styles/variables";

.workspace {
  display: flex;
  flex: 1 0;

  > ul {
    padding: 0;
    margin: 0;
    width: 200px;
    font-size: 0.8em;
    list-style-type: none;
    background: $white-color;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    a {
      display: block;
      height: 40px;
      line-height: 40px;
      padding: 0 $padding-unit / 2;
      background-color: $white-color;
      transition: background-color 400ms;

      &:hover, &.active {
        background-color: $gray-lighter-color;
        transition: background-color 200ms;
        text-decoration: none;
      }
    }
  }

  > div {
    flex: 1 0;
    max-width: 700px;
    padding: 0 $padding-unit;

    h2 {
      margin: $padding-unit 0;
      font-size: 1.2em;
      color: $primary-color;
    }
  }
}
