// Colors

$green-color: #21a9b1;
$yellow-color: #FCD920;
$red-color: #E53B51;
$orange-color: #EC6C20;
$white-color: #FFFEFF;

$primary-color: $green-color;

$gray-light-color: #999999;
$gray-color: #767676;
$gray-dark-color: #333333;

$text-color: $gray-dark-color;
$danger-color: #e62638;

// Unit

$padding-unit: 14px;
$header-height: 50px;
