// Colors

$green-color: #21a9b1;
$yellow-color: #FCD920;
$red-color: #E53B51;
$orange-color: #EC6C20;
$white-color: #FFFEFF;

$primary-color: $green-color;

$gray-lighter-color: #F5F5F5;
$gray-light-color: #999999;
$gray-color: #767676;
$gray-dark-color: #333333;

$placeholder-color: #A9A9A9;

$text-color: $gray-dark-color;

$danger-color: #e62638;
$success-color: #5cb85c;
$warning-color: $orange-color;

// Unit

$padding-unit: 14px;
$header-height: 50px;

// Index

$z-index-menu: 10;
$z-index-toolbar: 20;
