// Colors

$primary-color: #3CB5B5;
$yellow-color: #FCD920;
$red-color: #E53B51;
$orange-color: #EC6C20;
$white-color: #FFFEFF;

$text-color: #3f3f44;

// Unit

$padding-unit: 14px;
$header-height: 40px;
