@import "styles/variables";
@import "styles/animations";

:global {
  html, body {
    background-color: $white-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 100%;
  }

  html {
    visibility: hidden;

    &.wf-active {
      visibility: visible;
    }
  }

  * {
    box-sizing: border-box;
  }

  a:link, a:hover, a:visited {
    text-decoration: none;
    color: $primary-color;
  }

  a:hover {
    text-decoration: underline;
  }
}
