@import 'modules/variables.scss';

:global {
  html, body {
    background-color: $green;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 100%;
  }

  #main {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }
}
