@import "styles/variables";
@import "styles/animations";

:global {
  html, body {
    background-color: $white-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    min-height: 100vh;
  }

  html {
    visibility: hidden;

    &.wf-active {
      visibility: visible;
    }
  }

  * {
    box-sizing: border-box;
  }

  a:link, a:hover, a:visited {
    text-decoration: none;
    color: $primary-color;
  }

  a:hover {
    text-decoration: underline;
  }

  #main {
    min-height: 100vh;

    > div {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    #container {
      flex: 1 0;
      display: flex;
    }

    main {
      background: $gray-lighter-color;
      flex: 1 0;
      display: flex;
      flex-direction: column;
    }
  }
}
