@import "styles/variables";

.alert {
  position: relative;
  margin: 14px 0;
  padding: 14px;
  border-radius: 4px;
  color: $white-color;
  font-size: 0.9em;
  text-align: center;
}

.danger {
  background-color: $danger-color;
}
